.border-bottom-red {
  border-bottom: 3px solid $red;
}

.border-bottom-white {
  border-bottom: 3px solid $white;
}

.upcoming-subtile {
  border-bottom: 3px solid #f1c40f;
}

.gallery-bg {
  background-image: url('../svg/gallery-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.rating {
  position: absolute;
  top: .5rem;
  right: .5rem;
  margin: .25rem;
  background-color: transparent;
  padding: .5rem;
  z-index: 2;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 50%;
  border: .125rem solid $green;
}
